.body{
}

.div-imagen-fondo {
  background-image: url(/Rooms/muro-hormigon-blanco.jpg);

}
.header {
    background:  no-repeat center;
    background-size: cover;
    min-height: 25vh;
  }
  .header .navbar {
    /* background-color: transparent !important; */
    font-family: 'TeamWork';
    
  }

  .parallax {
    /* The image used */
    /* background-image: url("https://picsum.photos/359/240?random"); */
  
    /* Set a specific height */
    min-height:  500px;

  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  /* ROOMS  */
  .fuentePrecios{
    /* font-style: unset; */
    font-family: 'TeamWork';
  }

.h1{
  font-family: 'TeamWork';
}
.h2{
  font-family: 'TeamWork';
}
.p{
  font-family: 'TeamWork';
}

  /* INDEX  */
/* el fondo del contenedor del titulo index  */
.fondo-contenedor-index{
width: 100%;
  background-color: #40cfff
  ;
border-radius: 5px;
padding: 0;
}

/* esta clase es para los guiones entre textos o imagenes  */
  .guion{
    border: 1px rgb(0, 0, 0) solid
    
  }



  .imagenIndex{
    
  }


   /* Explore  */



   .targetainversa {
    flex-direction: row-reverse;
   }

   @font-face {
    font-family: 'TeamWork';
    src:url('TeamWork.ttf.woff') format('woff'),
        url('TeamWork.ttf.svg#TeamWork') format('svg'),
        url('TeamWork.ttf.eot'),
        url('TeamWork.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}