

.div-imagen-fondo {
  background-image: url(/Rooms/muro-hormigon-blanco.jpg);
}
.header {
  background: no-repeat center;
  background-size: cover;
  min-height: 25vh;
}

/* NAV BAR */

.header .navbar {
  font-family: "TeamWork";
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
}

/* Media queri para que el nav tenga height 15% en resolucion grnade*/

@media only screen and (min-width: 991px) {
  .header .navbar {
    height: 15%;
  }

  .divider-vertical-second-menu{ 
    height: 20px; 
    width: 1px; 
    margin: 0 15px; 
    overflow: hidden; 
    background-color: #616161; 
    border-right: 2px solid #7c7c7c; }
}


.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.89);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.116);
}

.navbar {
  transition: all 0.5s;
}
/* Alineacion del menu hamburguesa */
.navbar-nav {
  flex-direction: column;
  align-items: center;
}

.parallax {
  /* The image used */
  /* background-image: url("https://picsum.photos/359/240?random"); */

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ROOMS  */
.fuentePrecios {
  /* font-style: unset; */
  font-family: "TeamWork";
}

.h1 {
  font-family: "TeamWork";
}
.h2 {
  font-family: "TeamWork";
}
.p {
  font-family: "TeamWork";
}

/* INDEX  */
/* el fondo del contenedor del titulo index  */
.fondo-contenedor-index {
  width: 100%;
  border-radius: 5px;
  padding: 0;
}

/* esta clase es para los guiones entre textos o imagenes  */
.guion {
  border: 1px rgb(0, 0, 0) solid;
}
.img-celeste {
  background-image: url(./Rooms/muro-hormigon-celeste.png);
}
.img-oscura {
  background-image: url(./Rooms/muro-hormigon-negro.png);
}

.imagenIndex {
}

/* Explore  */

.targetainversa {
  flex-direction: row-reverse;
}

.card {
  border: none;
  background-color: transparent;
  padding: 5%;
}

@font-face {
  font-family: "TeamWork";
  src: url("TeamWork.ttf.woff") format("woff"),
    url("TeamWork.ttf.svg#TeamWork") format("svg"), url("TeamWork.ttf.eot"),
    url("TeamWork.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
